<div class="container text-center mt-5">
    <div class="main">
        <div class="mainText">
          <h1>Ensemble, Luttons Contre le Cancer</h1>
          <h3>Avec espoir, courage et détermination</h3>
          <button>En savoir plus</button>
      </div>
      
        <img src="https://th.bing.com/th/id/OIP.Y9tZ05eWprchWg9JfzpewQHaHa?w=2000&h=2000&rs=1&pid=ImgDetMain" alt="">
    </div>

    <div class="container my-5">
      <h2 class="text-center mb-4">Rencontrez Nos Médecins</h2>
      <div class="row">
          <div class="col-md-4 mb-4">
              <div class="card h-100">
                  <img src="https://th.bing.com/th/id/R.e652509d84d2c69a7a5c23d95965aba8?rik=W0%2bctYCUV2yYfw&pid=ImgRaw&r=0" class="card-img-top" alt="Dr. John Doe">
                  <div class="card-body text-center">
                      <h5 class="card-title">Dr. John Doe</h5>
                      <p class="card-text">Spécialiste en Cardiologie</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
              <div class="card h-100">
                  <img src="https://www.bing.com/th?id=OIP.qu0oZhl2bfOQSeAsnvEU1QAAAA&w=135&h=185&c=8&rs=1&qlt=90&o=6&dpr=1.6&pid=3.1&rm=2" class="card-img-top" alt="Dr. Jane Smith">
                  <div class="card-body text-center">
                      <h5 class="card-title">Dr. Jane Smith</h5>
                      <p class="card-text">Spécialiste en Neurologie</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
              <div class="card h-100">
                  <img src="https://th.bing.com/th/id/OIP.9smhhypnzp9g47iyFUFOVAHaHa?w=167&h=180&c=7&r=0&o=5&dpr=1.6&pid=1.7" class="card-img-top" alt="Dr. Emily White">
                  <div class="card-body text-center">
                      <h5 class="card-title">Dr. Emily White</h5>
                      <p class="card-text">Spécialiste en Pédiatrie</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="footer">
      <div class="text">
          <h3>À Propos de Nous</h3>
          <p>Disponible 24h/24</p>
          <p>Meilleurs Médecins</p>
          <p>Meilleur Soin</p>
          <p>Patients Satisfaits</p>
      </div>
      <div class="text">
          <h3>Spécialités</h3>
          <p>Chirurgie du Genou</p>
          <p>Chirurgie de la Colonne Vertébrale</p>
          <p>Chirurgie de la Jambe</p>
          <p>Chirurgie des Tendons</p>
      </div>
      <div class="text">
          <h3>Meilleurs Équipes</h3>
          <p>Médecins</p>
          <p>Infirmières</p>
          <p>Personnel</p>
          <p>Hôpital</p>
      </div>
      <div class="text">
          <h3>Adresse</h3>
          <p>Près de MG Road</p>
          <p>Galaxy Care</p>
          <p>333-09093</p>
          <p>09-883-090</p>
      </div>
  </div>
  